<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyfhHl0iRpNE1mpYM1O741wt6oe3xhdA&sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer_compiled.js"></script>

<script>
    var $places = [];
</script>
 <% @complaints.each do |complaint| %>
      <script>
      var x = <%= complaint.longitude %>;
      var y = <%= complaint.latitude %>;
      // var coords = [];
      $places.push(new google.maps.LatLng(y, x));
      </script>
<% end %>

<div id="map"></div>
